<div class="row">
	<div class="col-md-6">
		<label>User Id</label>
	</div>
	<div class="col-md-6">
		<p>survivor_<%= current_user.id %></p>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<label>Name</label>
	</div>
	<div class="col-md-6">
		<p><%= current_user.name %></p>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<label>Email</label>
	</div>
	<div class="col-md-6">
		<p><%= current_user.email %></p>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<label>Role</label>
	</div>
	<div class="col-md-6">
		<p><%= current_user.role %></p>
	</div>
</div>