// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.jumbotron {
    width: 100%;
    height: 940px;
    padding: 0;
}

.photo-overlay {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.jumbotron .photo-overlay .container {
    padding-top: 400px;
    color: rgb(255, 255, 255);
}

.alert {
    display: none;
}

.notice {
    display: none;
}