<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Location</h1>
</div>

<div class="px-4 py-5 text-center">
  <div class="col-lg-9 mx-auto">
    <div class="d-grid gap-2 d-lg-flex justify-content-sm-center">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Lat</th>
            <th>Lng</th>
            <th>Current</th>
          </tr>
        </thead>

        <tbody>
          <% @locations.each do |location| %>
            <tr>
              <td><%= location.lat %></td>
              <td><%= location.lng %></td>
              <td><%= location.current %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% if !current_user.infected %>
      <%= link_to 'Change Location', new_location_path, class:"btn btn-info" %>
    <% end %>

  </div>
</div>
